@page "/customer"
@using MechanicAPP_OOP2.Data;
@using Utility;
@inject CustomersViewModel Utility;


<h3 style="text-align:center; margin-bottom: 20px;">Register Customer</h3>

<div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 10px;">
    <div style="flex: 1;"></div>
</div>

<div style="display: flex; flex-direction: column; margin-bottom: 10px;">
    <label for="firstname" style="margin-bottom: 5px;">First Name:</label>
    <input type="text" name="firstname" id="firstname" @bind="Utility.OperatingCustomer.FirstName" style="width: 100%; padding: 5px;">
</div>

<div style="display: flex; flex-direction: column; margin-bottom: 10px;">
    <label for="lastname" style="margin-bottom: 5px;">Last Name:</label>
    <input type="text" name="lastname" id="lastname" @bind="Utility.OperatingCustomer.LastName" style="width: 100%; padding: 5px;">
</div>

<div style="display: flex; flex-direction: column; margin-bottom: 10px;">
    <label for="phone" style="margin-bottom: 5px;">Phone Number:</label>
    <input type="text" name="phone" id="phone" @bind="Utility.OperatingCustomer.ContactNumber" style="width: 100%; padding: 5px;">
</div>

<div style="display: flex; flex-direction: column; margin-bottom: 10px;">
    <label for="email" style="margin-bottom: 5px;">Email:</label>
    <input type="text" name="email" id="email" @bind="Utility.OperatingCustomer.Email" style="width: 100%; padding: 5px;">
</div>
<button @onclick="Utility.SavecustomerCommand.Execute" style="width: 100%; padding: 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Register</button>
   


@code {
    
}


