@page "/"

<h1>Mechanic Shop Management System</h1>

<img src="https://www.thebestcalgary.com/wp-content/uploads/2020/11/Best-Auto-Repair-Shops-in-Calgary.jpg" alt="Mechanic Shop" width="1000" height="650">